/*footer新增开始*/

.t4_tmenus {
	height: 47px;
	line-height: 47px;
	background: #34373a;
	border-bottom: 1px solid #2c2d2d;
	margin-bottom: 25px;
}

.t4_w {
	width: 1200px;
	margin: 0 auto;
}

.t4_tmenus ul {
	width: 70%;
	margin: 0 auto;
}

.t4_tmenus ul li {
	text-align: center;
	float: left;
	width: 14.2%;
	color: #73d6dc;
}

.t4_tmenus ul li a {
	display: block;
	color: #73d6dc;
}

.t4_tmenus ul li a:hover {
	color: #fff;
}


/*footer新增结束*/


/*定义滚动条宽度及背景 高度分别对应横竖调尺寸*/

::-webkit-scrollbar {
	width: 5px;
	height: 5px;
}


/*定义滚动条轨道 内阴影+圆角*/

::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
	border-radius: 10px;
	background-color: #dedede;
}


/*2018.4.3 lss recomposed 滚动条样式*/


/*滚动条夹角*/

::-webkit-scrollbar-corner {
	background-color: #299eba;
	;
}


/*定义滑块 内阴影+圆角*/

::-webkit-scrollbar-thumb {
	border-radius: 10px;
	background-color: #a6bfcc;
}

.footer {
	margin-top: 25px;
}

.liebiao_box {
	width: 1200px;
	margin: 0 auto;
	margin-top: 25px;
}


/*左三个开始*/

.t1_left {
	width: 320px;
	float: left;
}

.san_box {
	float: left;
	width: 320px;
	background: #fff;
	padding-bottom: 15px;
	margin-bottom: 20px;
}

.san_box .san_box_mc {
	background: #299eba;
	height: 50px;
	line-height: 50px;
	color: #fff;
	font-size: 20px;
	font-weight: 600;
	letter-spacing: 3px;
	padding-left: 25px;
}

.gd {
	float: right;
	font-size: 14px;
	font-weight: 500;
	letter-spacing: 0;
	margin-right: 20px;
	cursor: pointer;
	color: #d6eaef;
}

.san_box ul {
	padding: 15px;
}

.san_box ul li {
	border-bottom: 1px dashed #e2e2e2;
	cursor: pointer;
	clear: both;
}

.san_box ul a {
	color: #3e3d3d;
}

.san_box ul .h {
	width: 4px;
	height: 4px;
	background: #ff9000;
	display: block;
	float: left;
	margin: 14px 16px 0 4px;
}

.san_box ul .z {
	float: right;
	color: #aaa;
	display: block;
	line-height: 30px;
}

.san_box ul li a .xinxi {
	width: 220px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	display: inline-block;
	line-height: 30px;
}


/*右开始*/

.t1-sub-right {
	float: right;
	width: 855px;
	/*background: #fff;*/
}


/*api搜索结果开始*/

.t1-sub-ss-titler {
	position: relative;
	padding-left: 21px;
	font-size: 18px;
	color: #45668f;
	padding-top: 10px;
	padding-bottom: 10px;
	background: #fff;
	box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
	margin-bottom: 12px;
	font-weight: 600;
}

.t1-sub-ss-titler span {
	font-size: 18px;
	color: #ff7468;
}

.t1-sub-ss-box-lister {
	padding: 15px 0px;
	background: #fff;
	box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
	position: relative;
	margin-bottom: 12px;
}

.t1-sub-ss-box-lister:hover {
	background: #fffdfa;
	cursor: default;
}

.t1-sub-ss-box-lister .name {
	font-size: 20px;
	font-weight: bold;
	padding-bottom: 15px;
	border-bottom: 1px solid #f1f3f8;
	margin-bottom: 15px;
}

.t1-sub-ss-box-lister .i {
	margin-left: 40px;
	float: left;
	margin-right: 20px;
	margin-top: 8px;
}

.t1-sub-ss-box-lister .gxsj {
	font-size: 14px;
	color: #aab8ca;
	line-height: 34px;
	width: 730px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.t1-sub-ss-box-lister .name a {
	color: #45668f;
	padding-left: 28px;
}

.t1-sub-ss-box-lister .gxsj .qq {
	color: #5d7a9e;
	padding-right: 50px;
}

.t1-sub-ss-box-lister .gxsj .zy {
	color: #aab8ca;
}

.xzz {
	position: absolute;
	top: 18px;
	right: 13px;
	color: #45668f;
	font-weight: 500;
}

.sq {
	width: 70px;
	height: 30px;
	line-height: 30px;
	background: #eef0f3;
	text-align: center;
	border: 1px solid #8cb5c1;
	color: #55a1b7;
	border-radius: 2px;
	cursor: pointer;
	font-size: 12px;
	float: left;
	margin-left: 20px;
}

.sqq {
	background: url(./images/sq1.png) no-repeat;
	width: 13px;
	height: 12px;
	display: inline-flex;
}

.sq:hover {
	background: #52a5bd;
	color: #fff;
}

.sq:hover .sqq {
	background: url(./images/sq2.png) no-repeat;
	width: 13px;
	height: 12px;
	display: inline-flex;
}


/*api搜索结果结束*/


/*分页*/

.page {
	margin: 0px auto;
	background: #fff;
	text-align: center;
	padding: 25px 0;
	font-size: 15px;
	color: #5d7a9e;
}




/*数据资源搜索结果开始*/
.t1-sub-ss-sjzy {
	background: #fff;
	box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
	position: relative;
	margin-bottom: 12px;
}
.t1-sub-sjzy-box {
	padding: 20px 27px;
	background: #fff;
	border-bottom: 1px solid #e4ebf0;
	position: relative;
}

.t1-sub-sjzy-box .sj {
	position: absolute;
	top: 15px;
	right: 37px;
}

.t1-sub-sjzy-box .name {
	font-size: 20px;
	font-weight: bold;
	padding-bottom: 10px;
}

.t1-sub-sjzy-box .gxsj {
	font-size: 14px;
    color: #aab8ca;
    line-height: 34px;
    width: 610px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.t1-sub-sjzy-box .gxsj span {
    color: #5d7a9e;
    padding-right: 50px;
}
.t1-sub-sjzy-box .anniu_box {
	position: absolute;
	left: 670px;
	top: 52px;
	color: #393a3a;
}

.t1-sub-sjzy-box .anniu_box button {
    height: 35px;
    padding: 0 22px;
    background: #619ebd;
    border: none;
    border-radius: 5px;
    color: #fff;
    outline: none;
}
.t1-sub-sjzy-box .sj .sub-btn-csv {
	background: #2798d4;
	height: 20px;
	border: none;
	border-radius: 3px;
	font-size: 12px;
	color: #fff;
	padding: 0 8px;
	margin-right: 5px;
	outline: none;
}

.t1-sub-sjzy-box .sj .sub-btn-xls {
	background: #ff675a;
	height: 20px;
	border: none;
	border-radius: 3px;
	font-size: 12px;
	color: #fff;
	padding: 0 8px;
	margin-right: 5px;
	outline: none;
}

.t1-sub-sjzy-box .name a {
	color: #45668f;
}



/*数据资源搜索结果结束*/
